*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --background1 : rgba(0,0,0,0.5);
    --background2 : rgba(255,255,255);
}

header{
    background: var(--background2);
    position: fixed;
    width: 100%;
    z-index: 999;
    box-shadow: 0 4px 6px -1px rgba(0, 0,0,0.1), 0 2px 4px -2px rgba(0,0,0,0.1);
}

nav{
    position: absolute;
    text-align: right;
    top:100%;
    right: 0;
    background: var(--background2);
    width: 100%;
    transform: scale(1,0);
    transform-origin: top;
    transition: transform 250ms ease-in-out;
}

nav ul{
    padding: 20px 0;
    list-style: none;
    padding-right: 4%;
    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}

nav li{
    margin-bottom: 1em;
    margin-left: 1em;
    cursor:pointer;
}

nav a{
    text-decoration: none;
    color: rgb(104, 103, 103);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1rem;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

nav a:hover{
    color:rgb(255, 115, 0);
}

.check-toggle{
     display: none;
}

.check-toggle:checked ~ nav{
    transform: scale(1,1);
    transition: transform 400ms ease-in-out;
}

.check-toggle:checked ~ nav a{
    transition: opacity 250ms ease-in-out 0.25s;
    opacity: 1;
}

.check-toggle:checked ~ .nav-toggle-label{
    display: none;
}

.check-toggle:checked ~ .nav-toggle-label-close{
    opacity: 1;
    transform: scale(1,1);
    transition: all 0.4s ease-in-out;
}
.nav-toggle-label{
    position: absolute;
    top:0;
    right: 4%;
    margin-left: 1em;
    display: flex;
    align-items: center;
    height: 40px;
    cursor: pointer;
}

.nav-toggle-label span,.nav-toggle-label span::before,.nav-toggle-label span::after{
    display: block;
    width:1.7em;
    background: rgb(104, 103, 103);
    height: 3px;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,.nav-toggle-label span::after{
    content: '';
    position: absolute;
}

.nav-toggle-label span::before{
    bottom:7px;
}

.nav-toggle-label span::after{
    top:7px;
}

.nav-toggle-label-close{
    position: absolute;
    top:0;
    right: 4%;
    margin-left: 1em;
    display: flex;
    align-items: center;
    height: 40px;
    opacity: 0;
    transform: scale(1,0);
    cursor: pointer;
}
.nav-toggle-label-close span,.nav-toggle-label-close span::before{
    display: block;
    width: 1.7em;
    background: rgb(104, 103, 103);
    height: 3px;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label-close span{
    transform: rotate(155deg);
}

.nav-toggle-label-close span::before{
    content: '';
    transform: rotate(45deg);
}

.videoloop{
    margin-top: 12%;
    width: 100%;
}

.me{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 310px;
}
.me p{
    padding-left: 5%;
    padding-right: 2%;
    font-size: 5vw;
    color: rgb(61, 60, 60);
    font-family: "Inter", sans-serif;
}

.me .circle{
    margin-top: 25px;
    margin-right: 5%;
    width: 110px;
    height: 110px;
    border-radius: 110px;
    background-color: rgb(104, 103, 103);
    overflow: hidden;
    border: 3px solid;
    border-color: #cbf6ff #e5daff #ffdada #fff7d4;
}

.circle .vansh{
    width: 111.5px;
}

section h3{
    text-align: center;
    font-family: 'Dancing Script', cursive;
}

.color{
    text-align: center;
}

.colorplate{
    width: 15%;
}

.tagline{
    text-align: center;
    font-weight: lighter;
    font-size: 15px;
    margin-top: 6%;
    margin-bottom: 7%;
}

.creation-heading{
    margin: 18px 0;
    text-align: center;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.creations{
    background: rgba(226, 224, 219,0.5);
    margin-top: 2%;
}

.creations img{
    width: 49%;
    padding: 20px;
}

.client-section{
    padding-top: 10%;
    height: 350px;
    background-color: #ebf1f170;
}

.beclient h2{
    text-align: center;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.beclient p{
   
    font-size: 18px;
    width: 95%;
    padding: 10px;
    margin:0 auto;
    margin-top: 4%;
    margin-bottom: 2%;
    line-height: 30px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
}

.beclient{
    text-align: center;
}

.beclient .btn{
    width: 125px;
    padding:10px;
    border-radius: 2rem;
    background-color: rgb(255, 38, 0);
    color:white;
    display: inline-block;
    margin-right: 15px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
}

.beclient .btn:hover{
    background-color: orangered;
}

.footer{
    padding: 5%;
    font-size: 30px;
    text-align: center;
    margin-top: 5%;
}

.footer ion-icon{
    padding:3%;
}

.insta{
    color:rgb(247, 109, 109);
    font-weight: bold;
}

.youtube{
    color:rgb(255, 0, 0);
    font-weight: bold;
}

.twitter{
    color: #009cff;
    font-weight: bold;
}

.footer h3{
    text-align: center;
    font-size: 15px;
    font-family:'Dancing Script';
}
@media screen and (min-width:850px) {

    .nav-toggle-label{
        display: none;
    }

    header{
        display: flex;
        justify-content: space-between;
    }

    .logo{
       width: 141px;
    }

    nav{
        all: unset;
    }

    nav ul{
        display: flex;
        flex-direction: row;
        margin-right: 20px;
    }

    nav ul li{
        padding: 0 8px;
    }

    nav a{
        opacity: 1;
        font-size: 1.3rem;
        font-weight: lighter;
    }

    .videoloop{
        margin-top: 5%;
        opacity: 0.1;
        z-index: -999;
        height: 600px;
    }


    .container{
        position: absolute;
        top:7%;
        width: 100%;
    }

    .me{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 450px;
        
    }

    .me p{
        background: rgba(255, 255, 255, 0.32);
        color:black;
        padding-left: 5%;
        font-size: 30px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    
    .me .circle{
        margin-right: 5%;
        width: 120px;
        height: 120px;
        border-radius: 120px;
        background-color: rgb(104, 103, 103);
    }
    
    .circle .vansh{
        width: 101.5%;
    }

    .colorplate{
        width: 5%;
    }
    
    .tagline{
        text-align: center;
        font-size: 18px;
        margin-top: 2%;
    }

    .creation-heading{
        font-size: 45px;
    }

    hr{
        margin-top: 10%;
    }
    .creations{
        margin-top: 2%;
        text-align: center;
    }
    .creations img{
        width: 28%;
        margin-left: 30px;
        padding: 20px;
    }

    .client-section{
        padding-top: 5%;
        height: 450px;
    }
    
    .beclient h2{
        font-size: 45px;
    }
    
    .beclient p{
        font-size: 30px;
        width: 60%;
        display: inline-block;
        line-height: 40px;
    }

    .beclient .btn{
        width: 130px;
        margin-right: 20px;
    }

    .nav-toggle-label-close{
        display: none;
    }

}

